
<!-- include header -->
<div ng-include="'include/header.html'"></div>
<!-- //include header -->
<!-- include lnb -->
<div ng-include="'include/lnb.html'"></div>
<!-- //include lnb -->

<div class="feedlist">
    <h1 class="hide">Feed list</h1>
    <div id="section" class="feedlist__section">
        <article class="feedlist__nav">
            <h2 class="feedlist__nav--title">Feed list</h2>
            
            <!-- feed list repeat -->
            <div class="feedlist__element">
                <a href="" class="feedlist__item" ng-repeat="item in feeds" ng-click="feedOpen()">
                    <h3 class="feedlist__item--title" >{{item.story}}</h3>
                    <div class="feedlist__item--conts">{{item.message}}</div>
                    <div class="feedlist__item--date">{{item.created_time}}</div>
                </a>
            </div>
        </article>

        <article class="feedlist__content">

            <!-- 게시물 타이틀 -->
            <h3 class="feedlist__content&#45;&#45;title">{{feedTitle}}</h3>
            <div class="feedlist__content--date">{{feedDate}}</div>


            <!-- 게시물 내용 -->
            <div class="feedlist__content--st">{{feedContents}}</div>
        </article>
    </div>
</div>