@charset "utf-8";

html, body, .wrap {height:100%; min-height:100%}

/* body */
body {overflow:auto}
.wrap {position:relative; max-width:1100px; margin:0 auto; background:#efefee url(../images/bg_layout.gif) repeat-y}
.body-fix {position:fixed; left:0; top:0; right:0; bottom:0}
.body-fix .wrap {height:100% !important}
.clear:after {content:""; display:block; clear:both}

/* skip navigation */
.skip {position:absolute; top:-50px; left:0; right:0; z-index:9999; height:30px; line-height:30px; text-align:center; color:#fff; background:#4d4947}
.skip:hover, .skip:focus {top:0}

/* header */
.header {position:relative; height:70px; background:#cfa228}
.header .date {width:220px; height:70px; padding-top:27px; line-height:1; text-align:center; font-size:15px; color:#4d4947; background:#ffcd48}
.btn_menu {display:none}
.btn_home {position:absolute; right:105px; top:17px; color:#fff; padding:10px 12px 10px 21px; background:url(../images/btn_home_off.png) 0 50% no-repeat; -webkit-background-size:14px 14px; -moz-background-size:14px 14px; background-size:14px 14px}
.btn_home:active {color:#000; background-image:url(../images/btn_home_on.png)}
.btn_logout {position:absolute; right:15px; top:17px; padding:10px 10px 10px 32px;color:#775a0b; background:url(../images/btn_logout_off.png) 12px 50% no-repeat; -webkit-background-size:13px 14px; -moz-background-size:13px 14px; background-size:13px 14px}
.btn_logout:before {content:""; position:absolute; left:0; top:12px; display:block; width:1px; height:13px; background:#775a0b}
.btn_logout:active {color:#000; background-image:url(../images/btn_logout_on.png)}

/* aside */
.aside {position:absolute; left:0; top:0; bottom:0; width:220px; height:auto; min-height:100%; text-align:center}
.aside_wrap {position:relative; height:100%}
.aside_wrap:before {content:""; display:block; width:100%; height:70px}
.aside_in {position:absolute; left:0; top:70px; right:0; bottom:0; padding:16px 0 28px; background:#4d4946}
.aside .user_name {padding:11px 0 13px; color:#fff; font-size:15px}
.aside_logout,.aside_close {display:none}
.user_image {display:block; position:relative; width:105px; height:105px; margin:0 auto; background:url(../images/thumnail_no.png) no-repeat; -webkit-background-size:105px 105px; -moz-background-size:105px 105px; background-size:105px 105px}
.user_image img {width:105px; height:105px; -webkit-border-radius:50%; -webkit-border-radius:50%; -moz-border-radius:50%; border-radius:50%}
.user_image .on {position:absolute; left:31px; bottom:-7px; width:40px; height:17px; line-height:17px; color:#000; font-size:12px; font-weight:bold; border:1px solid #ffe97e; background:#fdd61d; -webkit-border-radius:20px; -moz-border-radius:20px; border-radius:20px}
.user_name {display:block; padding:20px 0 58px; color:#ebc50f; font-size:20px}
.txt_guide {color:#fff; font-size:17px}
.result_list {overflow:hidden; max-width:686px; margin:0 auto; padding:0 0 105px}
.result_list a {display:block; float:left; overflow:hidden; position:relative; width:28.4%; margin-right:7.4%}
.result_list a:active img {left:-100%}
.result_list a:last-child {margin:0}
.result_list img {position:relative; width:200%; vertical-align:top}
.active_dimd {display:none; position:absolute; left:0; top:0; right:0; bottom:0; background:rgba(255,213,106,.1)}

.aside_footer {position:absolute; left:0; right:0; bottom:28px}
.aside_footer .aside_bi {display:block; width:69px; height:45px; margin:0 auto; text-indent:-7000px; background:url(../images/bi_rizap.png) no-repeat; -webkit-background-size:69px 45px; -moz-background-size:69px 45px; background-size:69px 45px}
.aside_footer .aside_txt {padding-top:8px; font-size:11px; color:#a8a8a8}
.aside_footer_link {padding-top:11px}
.aside_footer_link a {display:inline-block; line-height:14px; border-bottom:1px solid #a8a8a8; color:#a8a8a8;}
.aside_footer_link a:active {border-bottom:1px solid #fff; color:#fff}
.aside_personal {margin-right:8px}
.aside_nav {border-bottom:1px solid #696562}
.aside_nav li {border-top:1px solid #696562}
.aside_nav a {display:block; height:75px; line-height:75px; padding-left:100px; color:#fff; font-size:17px; text-align:left}
.aside_nav .on {background:#3f3b3b;opacity:.7}
.aside_nav .on a {color:#b5b3b3}
.aside_shot a {background:url(../images/btn_aside_shot.png) 46px 50% no-repeat; -webkit-background-size:40px 40px; background-size:40px 40px}
.aside_round a {background:url(../images/btn_aside_round.png) 46px 50% no-repeat; -webkit-background-size:40px 40px; background-size:40px 40px}
.aside_mymo a {background:url(../images/btn_aside_swing.png) 46px 50% no-repeat; -webkit-background-size:40px 40px; background-size:40px 40px}
.aside_practice a {background:url(../images/btn_aside_practice.png) 46px 50% no-repeat; -webkit-background-size:40px 40px; background-size:40px 40px}

.btn_print {position:absolute; right:20px; bottom:18px; z-index:1999; width:60px; height:60px; background:#4d4947 url(../images/btn_print.png) 50% 50% no-repeat; -webkit-background-size:27px 26px; background-size:27px 26px; -webkit-border-radius:2px; border-radius:2px; text-indent:-7000px; cursor:pointer}
.btn_print.fix {position:fixed; z-index:3000}

/* section */
.section {min-height:570px; padding-left:220px}

/* footer */
.footer {display:none;padding:10px 0 31px; text-align:center; background:#4d4947}
.footer .bi_rizap {display:inline-block; width:97px; height:34px; background:url(../images/bi_rizap_footer.png) no-repeat; -webkit-background-size:97px 34px; background-size:97px 34px; text-indent:-7000px}

/* plug in cumtom */
.highcharts-container {margin:0 auto}
.owl-stage {overflow:hidden}

@media print {
    .wrap {background:none}
    .header, .aside {display:none}
    .section {padding:0}
    .btn_print {display:none}
}
@media screen and (min-width:1100px){
    .btn_print.fix {left:50%;margin-left:460px}
}
/* 800px 이하 부터 햄버거 메뉴, grid 변화 */
@media screen and (max-width:800px) {
    .wrap  {background:#efefee}
    /* header */
    .header {height:44px;background:#ffcd48; text-align:center}
    .header .date {width:100%; height:44px; padding-top:15px}
    .btn_menu {display:block; position:absolute;left:0;top:0;width:44px;height:44px;background:url(../images/btn_menu_off_m.png) 50% 50% no-repeat; -webkit-background-size:20px 14px; -moz-background-size:20px 14px; background-size:20px 14px;text-indent:-9000px}
    .btn_menu:active {background-image:url(../images/btn_menu_on_m.png)}
    .btn_home {right:0;top:0;width:44px;height:44px;padding:0;background:url(../images/btn_home_off_m.png) 50% 50% no-repeat; -webkit-background-size:24px 22px; -moz-background-size:24px 22px; background-size:24px 22px;text-indent:-9000px}
    .btn_home:active {background-image:url(../images/btn_home_on_m.png)}
    .btn_logout {display:none}

    /* aside */
    .aside_logout,.aside_close {display:block}
    .aside {left:-250px; z-index:2100; width:240px}
    .aside_wrap {position:relative; height:100%; top:0; padding:0}
    .aside_wrap:before {display:none}
    .aside_in {top:0; padding:0 0 28px;}

    .move-right {left:0; -webkit-transition:left .4s; -moz-transition:left .4s; transition:left .4s}
    .aside_logout {position:relative; height:44px; text-align:left; background:#3b3736}
    .aside_btn_logout {display:inline-block; height:44px; line-height:44px; padding:0 20px 0 32px; font-size:12px; color:#ababab; vertical-align:top; background:url(../images/btn_logout_off_m.png) 16px 50% no-repeat; -webkit-background-size:11px 12px; -moz-background-size:11px 12px; background-size:11px 12px}
    .aside_btn_logout:active {color:#fff; background-image:url(../images/btn_logout_on_m.png)}
    .aside_info {padding:13px 10px 15px; text-align:left}
    .aside .user_name {display:inline-block; max-width:120px; word-break:break-all; vertical-align:middle}
    .user_image {display:inline-block; width:84px; height:84px; background-size:contain; vertical-align:middle}
    .user_image img {width:100%; height:100%}
    .user_image .on {left:50%; margin-left:-17px; width:33px; height:16px; line-height:16px; font-weight:normal; text-align:center}
    .aside_nav a {height:50px; line-height:50px; font-weight:bold; padding-left:47px; background-position:14px 50%; background-size:24px 24px}
    .aside_footer {padding-top:68px}
    .aside_close {position:absolute; right:0; top:0; z-index:2001; width:46px; height:44px; text-indent:-9000px; background:url(../images/btn_close_m.png) 50% 50% no-repeat; -webkit-background-size:14px 14px; -moz-background-size:14px 14px; background-size:14px 14px}
    .aside_footer_link {padding-top:14px}
    .aside-dim {position:absolute;left:0;top:0;right:0;bottom:0;z-index:2099;min-height:100%;background:rgba(0,0,0,.5)}

    .section {padding-left:0;}

    .chart {height:100%; margin:0}
    .chart_table {width:100%; padding:10px 0 0}
    .round_graph.type1 {margin-top:20px}

    /* user search */
    .user_list_box {max-width:257px; margin:0 auto}
    .user_list {max-width:100%; margin:0 auto}
    .user_list a {width:75px; margin-right:15px}
    .user_list img {width:75px}
    .user_list_box .btn_prev {left:-11%; top:23px}
    .user_list_box .btn_next {right:-11%; top:23px}
    .user_list_box.no_data {max-width:100%; margin:0 9%}
    .user_list_box.no_data .btn_prev {left:0; top:40px}
    .user_list_box.no_data .btn_next {right:0; top:40px}
    .btn_calender {position:static; display:block; padding-top:8px}
    .btn_list a {margin-bottom:10px}
    .chart_case3 .btn_calender {padding:0 0 10px}

    /* user information */
    .result_list {margin:0 10px 105px}

    /* layer */
    .selection .btn_link {position:static; margin:30px 0 0 0}

    /* chart detail */
    .chart_detail .chart_graph {float:none; width:auto}
    .chart_detail .chart_graph:first-child {margin:0 0 20px}

    .btn_print {position:fixed}
}
@media screen and (max-height:400px){
    .body-fix {position:absolute}
    .body-fix .wrap {overflow:hidden; height:400px !important}
}