<aside id="aside" class="aside" ng-class="lnbToggle">
    <div class="top">
        <h2 class="aside__title">TravelNote</h2>
        <button class="aside__close" id="close" ng-click="lnbClose()">Close</button>
    </div>

    <div class="aside__nav">
        <a class="aside__nav--btn" href="#/feedlist">Feed list</a>
        <a class="aside__nav--btn" href="#/account">Account</a>
        <a class="aside__nav--btn" href="#/reservation">Reservation</a>
        <a class="aside__nav--btn" href="#/terms">Terms</a>
        <a class="aside__nav--btn" href="#/login" ng-click="fbLogout()">Logout</a>
    </div>
</aside>