<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Login | TravelNote</title>
    <link rel="stylesheet" href="../stylesheets/travelnote.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
</head>
<body>
<div class="login">
    <h1 class="login-title">Login Travel Note</h1>
    <div id="section">
        <form action="#">
            <fieldset class="login-form">
                <div class="inptxt"><input type="text" ></div>
                <div class="inptxt"><input type="password" ></div>
                <button class="btn-login">은선님으로 계속</button>
                <button class="btn-login">Login with Facebook</button>
            </fieldset>
        </form>
    </div>
</div>
</body>
</html>