/* Base structure */

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6, body {font-size:14px;font-family:Dotum, "나눔고딕", sans-serif;}
.navbar-brand {font-size:18px;line-height:50px}
.form-control, .btn {font-size:14px}
.navbar {padding:0; border-radius:0}
.hidden {line-height:0;height:0;font-size:0;color:transparent}
.ir {position:absolute;left:-7000px;top:0;font-size:1px}
.skip {position:absolute;left:0; top:-50px; right:0; z-index:10000; height:30px; line-height:31px; text-align:center; color:#fff !important; background-color:#0d81dc}
.skip:focus {top:0}
.table {table-layout:fixed; word-break:break-all}
.table th {text-align:center;color:#666;vertical-align:middle}
.table > tbody > tr > td {padding:5px 8px; vertical-align:middle}
.table input[type="checkbox"] {width:20px;height:20px}
.table label {display:block; cursor:pointer;font-weight:normal;color:dodgerblue}
.table label:hover {text-decoration:underline}
.table td a {display:block;}
.table .newName {color:rebeccapurple}

.btn-filebtn {overflow:hidden; position:relative; width:90px}
.btn-filebtn input[type="file"] {opacity:0;position:absolute;top:0;right:0;bottom:0;cursor:pointer;font-size:30px;color:transparent}
.fa-sort-amount-asc,.fa-sort-amount-desc {display:inline-block;padding:0 10px}
.oldName, .newName, .resultName {text-indent:10px; text-align:left}
.sidebar .nav-item {padding:5px 25px}
.nav > li > button {display:block;width:100%;padding:10px 0;color:#666}
.form-inline label {position:absolute;right:12px;top:10px;}
.counting {position:absolute; left:17%; bottom:30px; font-size:12px}
body {
  padding-top:62px;
}
/*
 * Typography
 */

h1 {
  margin-bottom: 20px;
  padding-bottom: 9px;
  border-bottom: 1px solid #eee;
}

a {color:#666}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  border-right: 1px solid #eee;
}

/* Sidebar navigation */
.sidebar {
  padding-left: 0;
  padding-right: 0;
}

.sidebar .nav {
  margin-bottom: 20px;
}

.sidebar .nav-item {
  width: 100%;
}

.sidebar .nav-item + .nav-item {
  margin-left: 0;
}

.sidebar .nav-link {
  border-radius: 0;
}

/*
 * Dashboard
 */

 /* Placeholders */
.placeholders {
  padding-bottom: 3rem;
}

.placeholder img {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
