@charset "utf-8";

ul,li {padding:0}
caption {font-size:20px; font-weight:bold; height:30px; line-height:30px; margin-bottom:20px}
span {vertical-align:middle}
.nav .btn {position:relative}
.nav .btn:before {position:relative; top:2px}
.nav .btn:focus {background:inherit}
.nav .glyphicon-repeat:before {margin-right:6px;font-weight:normal}
.nav .glyphicon-repeat.on {background:#122b40}
.glyphicon {top:-1px}
.new {display:block; position:absolute; left:-5px; top:-5px; width:19px; height:19px; line-height:15px; font-size:13px; color:#fff; font-weight:bold; font-style:normal; -webkit-border-radius:50%; -moz-border-radius:50%; border-radius:50%; background:#d9534f}
.top-menu {padding:5px 0}
.title  {border-bottom:1px solid #eee; margin:0 auto 20px; padding-bottom:10px; text-align:center; color:transparent; font-size:1px}
.title img {width:85px}
.date-title .form-control {font-size:26px; border:0; height:auto; padding:3px 3px 3px 5px}
.hide {position:absolute; left:-9000px; height:0}
.btn {padding:3px 12px 6px}
.calendar {position:relative; max-width:1000px; margin:0 auto}
.calendar > .btn {position:absolute; overflow:hidden; width:35px; height:35px; padding:0 !important; line-height:1}
.calendar .btn-today {margin:0 0 20px; width:100%; position:static}
.calendar a {display:block; margin:0; padding:0;  text-decoration:none; cursor:pointer}
.calendar td > div {overflow:hidden; position:relative;height:100%;margin:0; padding:0 0 0 0; text-align:left;color:#666 }
.calendar td > div:before {content:""; display:block; height:25px}
.calendar .txt-day {display:block; position:absolute; z-index:1; left:0; top:0; right:0; bottom:0; text-align:left}
.calendar .txt-day:hover {background-color:lightsteelblue}
.calendar .txt-day span {overflow:hidden; display:block; max-width:50px;position:absolute; left:6px; top:1px; font-size:18px; color:#666}

.calendar .schedule {overflow:hidden; text-overflow:ellipsis; white-space:nowrap; display:block; position:relative; z-index:3; color:#fff; font-size:12px; margin-bottom:3px; height:25px; line-height:25px; padding:0 5px}
.calendar .weather {position:absolute;z-index:2;right:0;top:0;width:25px;height:25px; line-height:25px; text-align:center}
.calendar .table > thead > tr > th {vertical-align:middle}
.calendar .table {height:100%; table-layout:fixed}
.calendar .table thead,
.calendar .table thead tr {height:30px}
.calendar .table tbody {height:90%}
.calendar .table tr {height:16.666666666%}
.calendar td {padding:0 !important}
.calendar .table thead th:first-child {color:#f00}
.calendar .table thead th:last-child {color:mediumblue}
.calendar.right .table thead th:first-child {color:#333}
.calendar.right .table thead th:nth-child(6) {color:mediumblue}
.calendar.right .table thead th:last-child {color:#f00}
.calendar.right .table td:first-child .txt-day span {color:#333}
.calendar.right .table td:nth-child(6) .txt-day span {color:mediumblue}
.calendar.right .table td:last-child .txt-day span {color:#f00}


/* today, click, active */
.calendar .today div {color:#fff !important}
.calendar .today .txt-day {color:#fff; background:darkgray; }
.calendar .on {background-color:deepskyblue; color:#fff}
.calendar .active {background-color:dodgerblue; color:#fff}

.calendar .before-month-day span {color:#999 !important}
.calendar .after-month-day span {color:#999 !important}
.calendar .before-month-day,
.calendar .after-month-day {background-color:#f1f1f1; color:#fff}
.calendar .before-month-day.active,
.calendar .after-month-day.active,
.calendar .before-month-day.on,
.calendar .after-month-day.on {background-color:#eee; color:#fff}
.calendar .after-month-day + .schedule {background:#888}
.calendar .before-month-day + .fa:before,
.calendar .before-month-day + .schedule + .fa:before,
.calendar .after-month-day + .fa:before,
.calendar .after-month-day + .schedule + .fa:before {color:#888}

/* default : 맨우측 날짜는 토요일 */
.calendar td:first-child .txt-day span {color:#f00}
.calendar td:first-child .txt-day span {color:#f00}
.calendar td:last-child .txt-day span {color:mediumblue}

/* type2 클래스 이하의 맨우측 날짜는 일요일 */
.calendar.type2 td:first-child .txt-day span {color:#666}
.calendar.type2 td:nth-child(6) .txt-day span {color:mediumblue}
.calendar.type2 td:last-child .txt-day span {color:#f00}


/* 좌우측버튼 위치 */
.btn.first {left:0}
.btn.prev{left:40px}
.btn.next{right:40px}
.btn.last{right:0}

/* 메모 팝업 */
.function-guide {width:310px; margin:0 auto}
.float-memo {position:absolute; z-index:50; left:0; top:0; width:300px; height:150px; padding:20px 20px 50px; background:#fff; border:1px solid #e1e1e1; border-radius:2px}
.float-memo-title {height:20px; margin-top:0; font-size:18px}
.float-memo .float-content {overflow:hidden; position:relative; text-overflow:ellipsis; white-space:nowrap; height:28px; line-height:28px; margin:0; font-size:13px}
.float-memo .float-content input {display:block; position:absolute; left:0; top:0; right:0; height:28px; line-height:1; width:100%; padding:3px 10px; border:1px solid #eee}
.float-memo .text-right {position:absolute; right:10px; bottom:10px}
.float-memo .text-right .btn {margin-left:5px}
.float-memo #memoClose {position:absolute; right:10px; top:10px}
.float-memo .text-danger {margin-left:10px}
#formBox {padding:30px 0 40px}
#yearTitle {min-height:35px; font-size:26px}
#yearTitle select:first-child {min-width:80px; margin-right:5px}
#yearTitle .form-control {display:inline-block; width:auto}

/* 등록하기 page */
.nav {padding:10px 0}
.visual {height:170}
.container {max-width:800px; margin:0 auto; padding:30px 0}
.container h1 {font-size:37px}
.container h1 .glyphicon {font-size:50px; vertical-align:top; position:relative; top:-4px; margin-right:10px}
.container  p {padding-left:62px; font-size:21px}
.form-horizontal .control-label {text-align:left}
.form-horizontal .glyphicon {vertical-align:top; position:relative; top:3px}


@media all and (max-width:640px){
    body{min-width:320px}
    #formBox {width:auto}
    .float-memo {width:250px; padding:10px 10px 40px}
    .calendar .txt-day span {font-size:11px}
    .calendar td div::before {height:16px}
    .calendar .schedule {height:16px;line-height:17px;font-size:11px;padding:0 1px;margin-bottom:1px}
}
